<h1>Makersbnb</h1>

<form action='/users/new' method='post'>
  <h3>Username: <input type='text' name='username' value='' required></h3>
  <h3>Name: <input type='text' name='name' value='' required></h3>
  <h3>Email: <input type='email' name='email' value='' required></h3>
  <h3>Password: <input type='text' name='pw'></h3>
  <h3>Password Confirmation: <input type='text' name='pw2'></h3>
  <input type='submit' value='Sign up'>
</form>
