<h1>Makersbnb</h1>

<form action='/pick_two' method='post'>
  <h3>Email: <input type='text' name='name1'></h3>
  <h3>Password: <input type='text' name='name2'></h3>
  <input type='submit' value='Log in'>
</form>
