<h1>Makersbnb</h1>

<!-- <form action='/pick_one' method='post'>
  <h3>Player 1: <input type='text' name='name0'>
  <input type='submit' value='Play Against Master'>
</form></h3> -->

<form action='/pick_two' method='post'>
  <h3>Email: <input type='text' name='name1'></h3>
  <h3>Password: <input type='text' name='name2'></h3>
  <h3>Password confirmation: <input type='text' name='name2'></h3>
  <input type='submit' value='Sign up'>
</form>
